$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$black: #000;
$blue: #80b3ff;
$purple: #ffb3ff;
$red: #f00;
$green: #4caf50;
$white: #fff;
$lightpurple: #eac5e2;
$darkblue: #222;
$grey: #ddd;
$offwhite: #f2f2f2;
$lightblack: #333;
$offwhite2: #f9f9f9;
$lightgreen: #5cb85c;

body {
  background-image: url('https://images.pexels.com/photos/48603/pexels-photo-48603.jpeg?auto=compress&cs=tinysrgb&h=350');
  background-repeat: no-repeat;
  background-size: cover;
}

.modal-header,
h4,
.close {
  background-color: $lightgreen;
  color: $white;
  font-size: 30px;
  text-align: center;
}

.modal-footer {
  background-color: $offwhite2;
}

// Add a black background color to the top navigation */
.topnav {
  background-color: $lightblack;
  overflow: hidden;

  // Style the links inside the navigation bar */
  a {
    color: $offwhite;
    float: left;
    font-size: 17px;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;

    // Change the color of links on hover */
    :hover {
      background-color: $grey;
      color: $black;
    }

    // Add a color to the active/current link */
    .active {
      background-color: $green;
      color: $white;
    }
  }
}

// background-position: center;
// background-repeat: no-repeat;
// background-size: cover;

input {
  border: 2px solid $red;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 8px 0;
  padding: 12px 20px;
  width: 50%;
}
